.white-shadow-font {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
body {
  background: url('/micropics/builds/images/forest.jpg') no-repeat center fixed;
}
nav {
  color: #b5b8b7;
}
nav .navbar {
  margin-bottom: 20px;
}
.navbar-inverse, navbar-nav {
  background: #b5b8b7;
  background: -webkit-linear-gradient(white, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, transparent);
  /* Standard syntax (must be last) */
  border: none;
}
#keywords {
  background-color: #b5b8b7;
  border-radius: 3px;
  padding: 5px;
}
.navbar.navbar-inverse .navbar-nav > .active > a,
.dropdown-toggle > .active > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
#keywords-contain {
  display: flex;
  flex-direction: column;
}
#keywords {
  width: 200px;
  list-style-type: none;
}
a {
  cursor: pointer;
}
.title {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 1px black;
  font-size: 55px;
  margin-top: -5px;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}
.categories {
  font-family: 'Comfortaa', cursive;
  list-style-type: none;
  color: #ffa800;
  display: inline-block;
  float: left;
  padding: 0 8px 5px 8px;
  border-radius: 2px;
  text-shadow: 1px 1px black;
  background-color: rgba(136, 141, 141, 0.58);
  margin-left: 5px;
}
.categories a {
  color: white;
  text-decoration: none;
}
.categories li {
  border-bottom: 1px solid black;
}
.categories ul li {
  border: none;
  color: white;
}
.categories ul li:hover {
  color: #ffa800;
}
.categories h5 {
  padding: 15px 0 15px 2px;
  margin: -3px 0 -3px 2px;
  letter-spacing: 2px;
  font-weight: 700;
  z-index: 100;
}
.categories h5:hover {
  color: #ffa800;
}
.title-row {
  text-align: center;
}
.description {
  padding: 5px;
  margin: 7px 0;
  background-color: rgba(254, 255, 255, 0.85);
  width: 100%;
  border-radius: 2px;
}
.photo-of-day {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
  font-family: "Times New Roman", Times, 'Comfortaa';
  font-size: 22px;
  padding: 3px;
  background-color: rgba(112, 117, 117, 0.32);
}
.photo-box {
  border-left: 15px solid black;
  border-right: 15px solid black;
  background-color: black;
  margin-bottom: 20px;
  overflow: hidden;
}
.photo-box:hover {
  border-left: 15px solid white;
  border-right: 15px solid white;
  cursor: pointer;
}
.more-photos {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 12px;
}
.main-img {
  padding: 30px 30px 30px 40px ;
}
.spider-list {
  margin-top: 8px;
  background-color: white;
}
.spider-list ul {
  padding-top: 8px;
  padding-left: 10px;
  /* Setup the counter. */
  counter-reset: spiderCount;
  list-style-type: none;
}
.spider-list li:before {
  font-family: 'Comfortaa', cursive;
  /* Advance the number. */
  counter-increment: spiderCount;
  /* Use the counter number as content. */
  content: counter(spiderCount) '. ';
  color: #f29b00;
  font-size: 15px;
}
.spider-list li {
  padding: 3px 2px 3px 0;
}
.spider-title {
  color: white;
  text-shadow: 1px 1px black;
}
.row > .column {
  padding: 0 8px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}
.demo {
  color: white;
}
.demo:hover {
  cursor: pointer;
  color: orange;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close {
  opacity: 1;
  color: white;
}
.close:hover,
.close:focus {
  color: white;
}
