.white-shadow-font {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
body {
  background: url('/micropics/builds/images/forest.jpg') no-repeat center fixed;
}
nav {
  color: #b5b8b7;
}
nav .navbar {
  margin-bottom: 25px;
}
.navbar-inverse, navbar-nav {
  background: #b5b8b7;
  background: -webkit-linear-gradient(white, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, transparent);
  /* Standard syntax (must be last) */
  border: none;
}
#keywords {
  background-color: #b5b8b7;
  border-radius: 3px;
  padding: 5px;
}
.navbar.navbar-inverse .navbar-nav > .active > a,
.dropdown-toggle > .active > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
#keywords-contain {
  display: flex;
  flex-direction: column;
}
#keywords {
  width: 200px;
  list-style-type: none;
}
a {
  cursor: pointer;
}
.title {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 1px black;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
}
.categories {
  font-family: 'Comfortaa', cursive;
  list-style-type: none;
  color: #ffa800;
  display: inline-block;
  float: left;
  padding: 0 10px 5px 4px;
  border-radius: 2px;
  text-shadow: 1px 1px black;
  background-color: rgba(250, 255, 255, 0.4);
  margin-left: 5px;
}
.categories a {
  color: white;
  text-decoration: none;
}
.categories h5 {
  padding: 15px 0 15px 2px;
  margin: -3px 0 -3px 2px;
  letter-spacing: 2px;
  font-weight: 700;
  z-index: 100;
  border-bottom: 1px solid black;
}
.categories h5:hover {
  color: #ffa800;
}
.title-row {
  text-align: center;
}
.description {
  padding: 5px;
  margin: 7px 0;
  background-color: rgba(254, 255, 255, 0.85);
  width: 100%;
  border-radius: 2px;
}
.photo-of-day {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
  font-family: "Times New Roman", Times, 'Comfortaa';
  font-size: 22px;
  padding: 3px;
  background-color: rgba(112, 117, 117, 0.32);
}
.photo-box {
  border-left: 15px solid black;
  border-right: 15px solid black;
  background-color: black;
  margin-bottom: 20px;
  overflow: hidden;
}
.photo-box:hover {
  border-left: 15px solid white;
  border-right: 15px solid white;
  cursor: pointer;
}
.twitter-logo {
  height: 50px;
  background-color: white;
  padding: 3px 10px 3px 10px;
  margin-top: 31px;
}
.twitter-logo:hover {
  background-color: #00ae90;
}
.facebook-logo {
  height: 50px;
  background-color: white;
  padding-right: 3px;
  padding-left: 2px;
}
.facebook-logo:hover {
  background-color: #00ae90;
}
