//@import:'ext-styles.css';
//stylings
@maincolor: #b5b8b7;
@mainfont:  'Comfortaa', cursive;
.white-shadow-font{
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
//interpolated variables
@navigation: navbar-inverse, navbar-nav;

body{
  background:url('/micropics/builds/images/forest.jpg') no-repeat center fixed;
}
nav{
  color: @maincolor;
}

.@{navigation}{
  background: @maincolor;;
  background: -webkit-linear-gradient(white, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white,transparent); /* Standard syntax (must be last) */
  border:none;
}
#keywords{
  background-color: @maincolor;
  border-radius:3px;
  padding:5px;
}
.navbar.navbar-inverse .navbar-nav, .dropdown-toggle{
  >.active{
    >a{
      background-color:transparent;
      color:white;
      text-shadow: 1px 1px black;
    }
  }
}
.navbar-inverse .navbar-nav{
  >li{
    >a{
      &:extend(.navbar-inverse .navbar-brand);
      .white-shadow-font;
    }
  }
}
.navbar-inverse .navbar-brand{
  .white-shadow-font;
  //color:red;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color:transparent;
}

#keywords-contain{
  display:flex;
  flex-direction:column;
}
#keywords{
  width:200px;
  list-style-type:none;
}
a{
  cursor:pointer;
}
//-----------------home-----------------
.title{
  font-family: @mainfont;
  text-shadow: 2px 1px black;
  font-size:50px;
  font-weight:600;
  color:white;
}
.categories{
  font-family: @mainfont;
  list-style-type: none;
  color: #ffbd00;
  display: inline-block;
  float: left;
  padding:0 10px 5px 4px;
  border-radius: 2px;
  text-shadow: 1px 1px black;
  font-weight: 600;
  li,h5{
    padding:-3px 0 -3px 9px;
    margin: -3px 0 -3px 9px;
    letter-spacing:3px;
  }
}
.title-row{
  text-align: center;
}