.white-shadow-font {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
body {
  background: url('/micropics/builds/images/forest.jpg') no-repeat center fixed;
}
nav {
  color: #b5b8b7;
}
.navbar-inverse, navbar-nav {
  background: #b5b8b7;
  background: -webkit-linear-gradient(white, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, transparent);
  /* Standard syntax (must be last) */
  border: none;
}
#keywords {
  background-color: #b5b8b7;
  border-radius: 3px;
  padding: 5px;
}
.navbar.navbar-inverse .navbar-nav > .active > a,
.dropdown-toggle > .active > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
#keywords-contain {
  display: flex;
  flex-direction: column;
}
#keywords {
  width: 200px;
  list-style-type: none;
}
.title {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 1px black;
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.categories {
  font-family: 'Comfortaa', cursive;
  list-style-type: none;
  color: orange;
  background-color: rgba(107, 175, 111, 0.76);
  display: inline-block;
  float: left;
  padding: 0 10px 5px 10px;
  border-radius: 2px;
  text-shadow: 1px 1px black;
}
.title-row {
  text-align: center;
}
